altgraph==0.17.2
amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.4
boto3==1.42.97
botocore==1.42.97
celery==5.4.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.2.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==49.0.0
Django==4.2.30
django-allauth==65.14.3
django-auditlog==3.0.0
django-celery-results==2.5.1
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-fernet-fields==0.6
django-rest-knox==5.0.4
django-safedelete==1.4.1
django-storages==1.14.3
djangorestframework==3.16.1
dnspython==2.7.0
eventlet==0.40.4
future==0.18.2
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
googleapis-common-protos==1.75.0
graphene==3.4.3
graphene-django==3.2.2
graphene-file-upload==1.3.0
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.1.1
gunicorn==23.0.0
httplib2==0.31.2
idna==3.18
jmespath==1.1.0
kombu==5.6.2
macholib==1.15.2
packaging==26.0
pillow==11.3.0
promise==2.3
prompt_toolkit==3.0.52
proto-plus==1.27.2
protobuf==6.33.6
psycopg2-binary==2.9.9
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.13.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
redis==5.0.5
requests==2.32.5
s3transfer==0.10.4
six==1.15.0
sqlparse==0.5.5
text-unidecode==1.3
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==1.26.20
vine==5.1.0
wcwidth==0.5.3
whitenoise==6.11.0
